[mysqld]
default-authentication-plugin=mysql_native_password
#12G - потому что у меня на ноутуке объем памяти 16G, а 12G примерно рекомендуемые 80% 
innodb_buffer_pool_size = 12G
# Ускорит запись. Добавит время восстановления, но подразумевается что есть горячая реплика и это не страшно.
innodb_log_file_size = 2G
# Ускорит запись. Уменьшит надежность, но подразумевается, что есть бекапы.
innodb_flush_log_at_trx_commit = 2
# Увеличение подключений 
max_connections = 256

